@font-face {
    font-family: 'Euphemia';
    src: url('../fonts/euphemia.ttf');
}

@font-face {
    font-family: 'Lithos Pro';
    src: url('../fonts/lithospro.otf');
}

body, html{
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	
	color: #fff;
	font-family: sans-serif;
}

#container{
	width: 100%;
	height: 100%;
	
	background-color: #000000;
	background-image: url('../img/bg/bg.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: top center;
}

#navigation{
	width: 1024px;
	float: left;
	margin-left: -75px;
	position: absolute;
	z-index: 3;
	pointer-events: none;
}
	#navigation img{
		float: left;
	}
	
	#navigation ul{
		float: left;
		margin-top: 35px;

	}
		#navigation ul li{
			float: left;
			margin-left: 35px;
			
			height: 53px;
			width: 95px;
		}
		#navigation ul li.active{
			background-image: url('../img/buttons/navi/active.png');
		}
		#navigation ul li.active:hover{
			background-image: url('../img/buttons/navi/active.png');
		}				
		#navigation ul li:hover{
			background-image: url('../img/buttons/navi/hover.png');
		}	
			#navigation ul li img{
				margin-top: 11px;
			}
		#navigation ul li a{
			pointer-events: auto;
		}
		
#cast_nav{
	width: 338px;
	height: 30px;
	margin: auto;
	overflow: hidden;
	
	margin-top: 150px;
	margin-left: 684px;
	
	position: absolute;
	z-index: 2;
	background-color: rgba(15, 161, 85, 0.25);
}	
	#cast_nav ul{
		float: left;
		margin-top: 3px;
		margin-left: 16px;
	}
		#cast_nav ul li{
			float: left;
			margin-right: 30px;
			
			height: 47px;
			width: 25px;
		}

#view{
	width: 1022px;
	height: 840px;
	margin: auto;
	overflow: hidden;
}

#pages{
	/*Change width based on (page width x number of pages)*/
	width: 4096px;
	height: 840px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.page, .subpage{
	width: 1024px;
	height: 840px;
	float: left;
}
	.page .box{
		width: 270px;
		padding: 15px;
		
		background-color: rgba(0, 0, 0, 0.6);
		
		float: right;
		margin-top: 150px;
		margin-right: 40px;
	}
		.page .box #buy{
			width: 125px;
			float: left;
		}
			.page .box #buy h2{
				font-family: 'Lithos Pro';
				font-size: 14px;
				float: left;
				margin-top: 65px;
				margin-left: -7px;
			}
			.page .box .buy{
				margin-top: 15px;
				margin-left: 3px;
			}
			.page .box .bluray{
				float: right;
				margin-top: -90px;
				margin-right: -150px;
			}
			
	
		.subpage .box{
			margin-top: 200px;
		}
	
		.page .box h1{
			width: 270px;
			font-family: 'Lithos Pro';
			font-size: 21px;
			text-align: center;
		}
			.page .box h1.name{
				text-align: left;
			}
		
		.page .box p{
			font-family: 'Euphemia';
			font-size: 14px;
			margin-top: 10px;
			line-height: 23px;
		}
			.page .box p em{
				display: block;
				font-family: sans-serif;
				font-size: 12px;
				font-style: italic;
				margin-top: 10px;
				line-height: 20px;
			}
			.page .box p strong{
				width: 100%;
				display: block;
				font-family: sans-serif;
				font-size: 12px;
				text-align: right;
				margin-top: -10px;
			}
	
	.page .bar{
		width: 100%;
		height: 150px;
		background-color: rgba(0, 0, 0, 0.6);
	}
		.page .bar ul{
			float: left;
			margin-top: 25px;
			margin-left: -4px;
		}
		.page .bar li{
			float: left;
			margin-left: 15px;
			border: 1px solid rgba(15, 161, 85, 0.5);;
		}
	
	
	.page #images{
		margin-top: 150px;
	}
	.page #videos{
		margin-top: 70px;
	}
		.page #images h1, .page #videos h1{
			font-family: 'Lithos Pro';
			font-size: 24px;
			padding: 5px;
			
			  text-shadow:
				-1px -1px 0 #0fa255,  
				1px -1px 0 #0fa255,
				-1px 1px 0 #0fa255,
				1px 1px 0 #0fa255;
		}
	
/*Slider divs*/
	#home{
		background-image: url('../img/bg/home.png');
	}
	
	#about{
		background-image: url('../img/bg/about.png');
	}
	
	#cast{
	}
		#char1{
			background-image: url('../img/bg/cast/alan.png');
		}
		
		#char2{
			background-image: url('../img/bg/cast/peter.png');
		}
		
		#char3{
			background-image: url('../img/bg/cast/judith.png');
		}
		
		#char4{
			background-image: url('../img/bg/cast/sarah.png');
		}
		
		#char5{
			background-image: url('../img/bg/cast/pelt.png');
		}
		
	#media{
		background-image: url('../img/bg/media.png');
	}
	
#footer{
	width: 1024px;
	margin: auto;
	margin-top: -100px;
	position: relative;
	z-index: 5;
}	
	#footer img{
		float: left;
	}
	#footer p{
		width: 100%;
		text-align: center;
		color: #cccccc;
		font-size: 10px;
		line-height: 15px;
		clear: both;
	}
	#footer #links{
		text-align: right;
		color: #cccccc;
		font-size: 12px;
		clear: both;
		float: right;
		margin-top: -30px;
	}
	#footer a{
		color: #cccccc;
	}